@model eticaret.Models.TempUserModel
@using eticaret.Models
@{
    var products = ViewBag.Products as List<Product>;
}

@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewData["Title"] = "Welcome to Heaven";
}

<style>
    .hidden-content {
        position: fixed;
        top: 70px; /* Sayfanın üst kısmından uzaklığı */
        right: 20px; /* Sayfanın sağ kısmından uzaklığı */
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Üstte görünmesini sağlamak için z-index değerini artırın */
    }

    .hidden-link {
        display: block;
        margin-bottom: 10px;
        color: crimson;
        text-decoration: none;
    }

        .hidden-link:hover {
            color: darkred;
        }



</style>




    <div class="page-loader"></div>

@* <div class="profile-section">
    <img class="profile-image" src="profile-image-url" alt="Profile Image">
    <div class="profile-info">
        <p class="user-name">
            @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("Username")))
            {
                @HttpContext.Session.GetString("Username")
            }
            else
            {
                <span>Kullanıcı adı bulunamadı</span>
            }
        </p>
        <p class="user-email">
            @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("Email")))
            {
                @HttpContext.Session.GetString("Email")
            }
            else
            {
                <span>Email bulunamadı</span>
            }
        </p>
    </div>
</div> *@
<!-- Updated Kullanıcı Alanı -->
<a href="@Url.Action("Profili", "Kullanıcıarayüz")">
<div class="profile-section">
        <img src="~/Kullanici_img/@Model.Profil_Foto" alt="Profil Resmi" class="profile-image">
    <div class="profile-info">
        <p class="user-name">
            @if (!string.IsNullOrEmpty(Model.Username))
            {
                @Model.Username
            }
            else
            {
                <span>Giriş Yapınız</span>
            }
        </p>
        <p class="user-email">
            @if (!string.IsNullOrEmpty(Model.Email))
            {
                @Model.Email
            }
                else
                {
                    <span>Giriş Yapınız</span>
                }
           
        </p>
    </div>
     
</div>
</a>

<!-- Gizli İçerik -->
<div class="hidden-content" style="display: none;">
    <a href="@Url.Action("Siparislerim", "Sepet")" class="hidden-link">Siparişlerim</a>
    <a href="@Url.Action("Index", "Ilanlar")" class="hidden-link">İlanlarım</a>
    <a href="@Url.Action("SiparisOnay", "Kullanıcıarayüz")" class="hidden-link">Sattıklarım</a>
</div>




    <div class="wrapper">

        <div class="inc:_header.html"></div>

        <!-- ========================  Header content ======================== -->

        <section class="header-content">

            <div class="clearifx">

                <div class="owl-slider">
                    <!-- === slide item === -->
                    <div class="item" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/gallery-2.jpg)">
                        <div class="box box-left">
                            <div class="text-right">
                                <h2 class="title animated h1" data-animation="fadeInDown">eCommerce template</h2>
                                <div class="animated" data-animation="fadeInUp">
                                    Score new arrivals from latest electronics
                                    <br />
                                    Multipurpose Ecommerce template ready
                                </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-cart"></i> Buy</a>
                                <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-eye"></i> Details</a>
                                <a href="/Admin/Account/Login" class="btn btn-clean"><i class="icon icon-login"></i> Giriş Yap</a>
                            </div>

                            </div>
                        </div>
                    </div>
                    <!-- === slide item === -->
                    <div class="item" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/gallery-3.jpg)">
                        <div class="box box-right">
                            <div class="text-left">
                                <h2 class="title animated h1" data-animation="fadeInDown">Buy this template</h2>
                                <div class="animated" data-animation="fadeInUp">
                                    Inovative responsive design, with easy customization! <br />
                                    Purchase now and get free updates
                                </div>
                                <div class="animated" data-animation="fadeInUp">
                                    <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-cart"></i> Buy</a>
                                    <a href="#" target="_blank" class="btn btn-clean"><i class="icon icon-eye"></i> Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--/owl-slider-->
            </div>
        </section>

        <!-- ========================  Blog Block ======================== -->

        <section class="blog blog-block blog-intro">

            <div class="container">

                <!-- === blog header === -->

                <header class="hidden">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2 class="title">Check out our featured news</h2>
                            <div class="text">
                                <p>Keeping things minimal</p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row row-clean">

                    <!-- === blog item === -->

                    <div class="col-xs-6 col-sm-3">
                        <article>
                        <a href="@Url.Action("Products_Grid", "Product", new { categoryId = 1 })">

                                <div class="image">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/project-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">2018 Collection</div>
                                    <div class="title">
                                        <h2 class="h3">Fashion</h2>
                                    </div>
                                    <div class="description">
                                        <p>
                                            Top picks four your desire
                                        </p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-xs-6 col-sm-3">
                        <article>
                        <a href="@Url.Action("Products_Grid", "Product", new { categoryId = 2 })">
                                <div class="image">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/project-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">New arrivals</div>
                                    <div class="title">
                                        <h2 class="h3">Electronics</h2>
                                    </div>
                                    <div class="description">
                                        <p>
                                            Explore popular devices
                                        </p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-xs-6 col-sm-3">
                        <article>
                        <a href="@Url.Action("Products_Grid", "Product", new { categoryId = 3 })">
                                <div class="image">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/project-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">Up to 50% off</div>
                                    <div class="title">
                                        <h2 class="h3">Sporting goods</h2>
                                    </div>
                                    <div class="description">
                                        <p>
                                            Available for quick shipping
                                        </p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-clean">Shop now</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                <div class="col-xs-6 col-sm-3">
                    <article>
                        <a href="@Url.Action("Products_Grid", "Product", new { categoryId = 4 })">
                            <div class="image">
                                <img src="/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/project-4.jpg" alt="">
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Save big on</div>
                                <div class="title">
                                    <h2 class="h3">Home &amp; garden</h2>
                                </div>
                                <div class="description">
                                    <p>
                                        Fun to explore
                                    </p>
                                </div>
                            </div>
                            <div class="show-more">
                                <span class="btn btn-clean">Shop now</span>
                            </div>
                        </a>
                    </article>
                </div>


                </div> <!--/row-->
                <!-- === button more === -->

                <div class="wrapper-more">
                    <a href="@Url.Action("Ideass", "Ideas")" class="btn btn-lg">Tüm Ürünleri Gör</a>
                </div>

            </div> <!--/container-->
        </section>

        <!-- ========================  Block banner category ======================== -->

    

        <!-- ========================  Icons slider ======================== -->

        <section class="owl-icons-wrapper">

            <!-- === header === -->

            <header class="hidden">
                <div class="text-center"><h2 class="title">Product categories</h2></div>
            </header>

            <div class="clearfix">

                <div class="owl-icons owl-icons-rounded owl-icons-frontpage">


                <!-- === icon item === -->

                @if (products != null)
                {
                    foreach (var product in products)
                    {
                        <a href="@Url.Action("Product", "Product", new { id = product.id })">
                            <figure>
                                <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/@product.img" alt="Alternate Text" />
                                <figcaption>@product.name</figcaption>
                            </figure>
                        </a>
                    }
                }






                  
@* 
                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-1.png" alt="Alternate Text" />
                            <figcaption>Shoes</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-2.png" alt="Alternate Text" />
                            <figcaption>Gadgets</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-3.png" alt="Alternate Text" />
                            <figcaption>TV & Video </figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-4.png" alt="Alternate Text" />
                            <figcaption>Drones</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-5.png" alt="Alternate Text" />
                            <figcaption>Cameras</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-6.png" alt="Alternate Text" />
                            <figcaption>Mobile phones</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-7.png" alt="Alternate Text" />
                            <figcaption>Accessories</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-8.png" alt="Alternate Text" />
                            <figcaption>Home</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-9.png" alt="Alternate Text" />
                            <figcaption>Projectors</figcaption>
                        </figure>
                    </a>

 *@


                </div> <!--/owl-icons-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Best seller ======================== -->

        <section class="products">

            <!-- === header title === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Best seller</h2>
                        <div class="text">
                            <p>Check out our latest collections</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row row-clean">

              
@* 
                  @foreach (var item in Model)
               {
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <article>
                        <div class="info">
                            <span class="add-favorite">
                                <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                            </span>
                            <span>
                                <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                            </span>
                        </div>
                        <div class="btn btn-add">
                            <i class="icon icon-cart"></i>
                        </div>
                        <div class="figure-grid">
                            <div class="image">
                                <a href="#productid1" class="mfp-open">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/@item.Img" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h5">
                                    <a href="@Url.Action("Ideass", "Ideas")">@item.SUrun_isim</a>
                                </h2>
                                <sub>$ @item.Eski_Fiyat,-</sub>
                                <sup>$ @item.Yeni_Fiyat,-</sup>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->
                } *@

             

            </div> <!--/row-->



            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="@Url.Action("Product-Grid", "Product")" class="btn btn-lg">View all</a>
            </div>

            <!-- ========================  Product info popup - quick view ======================== -->

            <div class="popup-main mfp-hide" id="productid1">

                <!-- === product popup === -->

                <div class="product">

                    <!-- === popup-title === -->

                    <div class="popup-title">
                        <div class="h1 title">
                            Headphones Wireless
                            <small>product category</small>
                        </div>
                    </div>

                    <!-- === product gallery === -->

                    <div class="owl-product-gallery">
                        <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-10.png" alt="" width="640" />
                        <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/product-10a.png" alt="" width="640" />
                    </div>

                    <!-- === product-popup-info === -->

                    <div class="popup-content">
                        <div class="product-info-wrapper">
                            <div class="row">

                                <!-- === left-column === -->

                                <div class="col-sm-6">
                                    <div class="info-box">
                                        <strong>Maifacturer</strong>
                                        <span>Brand name</span>
                                    </div>
                                    <div class="info-box">
                                        <strong>Materials</strong>
                                        <span>Wood, Leather, Acrylic</span>
                                    </div>
                                    <div class="info-box">
                                        <strong>Availability</strong>
                                        <span><i class="fa fa-check-square-o"></i> in stock</span>
                                    </div>
                                </div>

                                <!-- === right-column === -->

                                <div class="col-sm-6">
                                    <div class="info-box">
                                        <strong>Available Colors</strong>
                                        <div class="product-colors clearfix">
                                            <span class="color-btn color-btn-red"></span>
                                            <span class="color-btn color-btn-blue checked"></span>
                                            <span class="color-btn color-btn-green"></span>
                                            <span class="color-btn color-btn-gray"></span>
                                            <span class="color-btn color-btn-biege"></span>
                                        </div>
                                    </div>
                                    <div class="info-box">
                                        <strong>Choose size</strong>
                                        <div class="product-colors clearfix">
                                            <span class="color-btn color-btn-biege">S</span>
                                            <span class="color-btn color-btn-biege checked">M</span>
                                            <span class="color-btn color-btn-biege">XL</span>
                                            <span class="color-btn color-btn-biege">XXL</span>
                                        </div>
                                    </div>
                                </div>

                            </div> <!--/row-->
                        </div> <!--/product-info-wrapper-->
                    </div> <!--/popup-content-->
                    <!-- === product-popup-footer === -->

                    <div class="popup-table">
                        <div class="popup-cell">
                            <div class="price">
                                <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                            </div>
                        </div>
                        <div class="popup-cell">
                            <div class="popup-buttons">
                                <a href="@Url.Action("product", "Product")"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
                                <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
                            </div>
                        </div>
                    </div>

                </div> <!--/product-->
            </div> <!--popup-main--> <!--/container-->

        </section>

        <!-- ========================  Block banner fashion ======================== -->

        <section class="blog blog-block">

            <!-- === header === -->

            <header class="hidden">
                <div class="text-center"><h2 class="title">Fashion</h2></div>
            </header>

            <div class="row row-clean">

                <!-- === blog item === -->

                <div class="col-sm-4">
                    <article>
                        <div>
                            <div class="image">
                                <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-3.jpg" alt="" />
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Shop for</div>
                                <div class="title">
                                    <h2 class="h3">Woman's</h2>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === blog item === -->

                <div class="col-sm-4">
                    <article>
                        <div>
                            <div class="image">
                                <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-4.jpg" alt="" />
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Shop for</div>
                                <div class="title">
                                    <h2 class="h3">Man's</h2>
                                </div>
                                <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === blog item === -->

                <div class="col-sm-4">
                    <article>
                        <div>
                            <div class="image">
                                <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-5.jpg" alt="" />
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Shop for</div>
                                <div class="title">
                                    <h2 class="h3">Kids</h2>
                                </div>
                                <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div> <!--/row-->
        </section>

        <!-- ========================  Products widget ======================== -->

        <section class="products">

            <!-- === header title === -->

        <header id="kullaniciUrunleri" style="cursor: pointer; transition: transform 0.3s ease, background-color 0.3s ease;">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="title" style="color: #333; transition: color 0.3s ease;">Kullanıcı Ürünleri</h2>
                    <div class="text">
                        <p style="color: #666; transition: color 0.3s ease;">En Çok Satış Yapılan Kullanıcılar.</p>
                    </div>
                </div>
            </div>
        </header>

            <div class="row row-clean">

                <!-- === product-item === -->
            @foreach (var seller in ViewBag.Sellers)
            {
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <article>
                        <div class="info">
                            <span class="add-favorite">
                                <a href="#" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                            </span>
                            <span>
                                <a href="#" class="mfp-open" data-title="Quick view"><i class="icon icon-eye"></i></a>
                            </span>
                        </div>
                        <div class="btn btn-add">
                            <button type="button" data-id="@seller.Id" class="add-to-cart-btn" style="background: none; border: none; padding: 0; margin: 0; width: 100%; height: 100%;">
                                <i class="icon icon-cart"></i>
                            </button>
                        </div>
                        <div class="figure-grid">
                            <div class="image">
                                <a href="@Url.Action("Index", "KullaniciSatislari", new { Id = seller.Id })" class="mfp-open">
                                    <img src="~/images/@seller.UrunResim" alt="@seller.UrunAdi" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h5">
                                    <a href="@Url.Action("Index", "KullaniciSatislari", new {  Id = seller.Id  })">@seller.UrunAdi</a>
                                </h2>
                                <sup>@seller.UrunFiyat $</sup>
                                <span class="description clearfix">@seller.UrunAciklama</span>
                            </div>
                        </div>
                    </article>
                </div>
            }




            </div>

            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="@Url.Action("Product-Grid", "Product")" class="btn btn-lg">View store</a>
            </div>
        </section>

        <!-- ========================  Block banner shop  ======================== -->




        <!-- ========================  Stretcher widget ======================== -->

     @*    <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Premium watches</h1>
                        <div class="text">
                            <p>Give the gift of polished punctuality</p>
                        </div>
                    </div>
                </div>
            </header>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-6.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Man's</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Man's watches</h4>
                        <figcaption>Collection of prestigious, high precision timepieces</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-7.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Woman's</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Womans's watches</h4>
                        <figcaption>Choose among a wonderful variety of refined and feminine timepieces</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-8.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Professional</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Professional watches</h4>
                        <figcaption>Discover your favourite model by combining materials</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/shop-9.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Diamond bezzels</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Diamond bezzels</h4>
                        <figcaption>Diamond bezel watch collection of luxurious pieces</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item more=== -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="Show more" data-title-hide="+"></span>
                    </div>
                    <a href="#"></a>
                </li>

            </ul>
        </section> *@

        <!-- ========================  Cards ======================== -->

        <section id="page-interiors" class="cards">

            <!-- === cards header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Home accessories</h2>
                        <div class="text">
                            <p>Get premium performance compromises!</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row row-clean">

                <!-- === item === -->

                <div class="col-md-8">
                    <figure>
                        <figcaption style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-1.png)">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-1.jpg" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Mobile phones</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-2.png)">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-2.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Home accessories</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-3.png)">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-3.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Smart TV</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-4.png)">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-4.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Chairs</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-5.png)">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/block-5.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Gaming</a>
                    </figure>
                </div>



            </div> <!--/row--> <!--/container-->
            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="@Url.Action("Product-Grid", "Product")" class="btn btn-lg">View more</a>
            </div>
        </section>


        <!-- ========================  Blog ======================== -->

        <section class="blog blog-widget blog-animation">

            <!-- === blog header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Blog</h1>
                        <div class="text">
                            <p>Latest news from the blog</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">

                <div class="row">

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="@Url.Action("article", "Article")">
                                <div class="image" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-1.jpg)">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>08</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Turn off the lights before bed with one word</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="@Url.Action("article", "Article")">
                                <div class="image" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-2.jpg)">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>03</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Lock the front door when you head to work</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="@Url.Action("article", "Article")">
                                <div class="image" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-3.jpg)">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/ssets/images/blog-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>01</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Get a notification when your kids walk in the door</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="@Url.Action("article", "Article")">
                                <div class="image" style="background-image:url(/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-4.jpg)">
                                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-4.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>01</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Wake up to a warm cup of coffee</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                </div> <!--/row-->
            </div>
            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="@Url.Action("Blog_Grid","Blog")" class="btn btn-lg">View all posts</a>
            </div> <!--/container-->
        </section>


        <!-- ========================  Banner ======================== -->

        <section class="banner">

            <!-- === header === -->

            <h2 class="hidden">Banner</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Our story</h2>
                        <p>
                            We believe in creativity as one of the major forces of progress. With this idea, we traveled throughout Italy to find exceptional
                            artisans and bring their unique handcrafted objects to connoisseurs everywhere.
                        </p>
                        <p>
                            <a href="@Url.Action("about","About")" class="btn btn-clean">Read full story</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Instagram ======================== -->

        <section class="instagram">

            <!-- === instagram header === -->

            <header>
                <h2 class="h3 title">
                    Follow us<br />
                    <i class="fa fa-instagram fa-3x"></i> <br />
                    Instagram
                </h2>
                <div class="text">
                    <p>LagerShop</p>
                </div>
            </header>

            <!-- === instagram gallery === -->

            <div class="gallery clearfix">
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-1.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-2.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-3.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-4.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-5.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-6.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-7.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-8.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-9.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-10.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-11.jpg" alt="Alternate Text" />
                </a>
            <a class="item" href="https://www.instagram.com/synsemih4/">
                    <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/square-12.jpg" alt="Alternate Text" />
                </a>
            </div> <!--/gallery-->

        </section>

        <div class="inc:_footer.html"></div>

    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    $(document).ready(function () {
        $('#kullaniciUrunleri').click(function () {
            window.location.href = '/KullaniciSatislari/Index';
        });
    });



    function loadProducts(categoryId) {
        fetch(`/Product/GetProductsByCategory?categoryId=${categoryId}`)
            .then(response => response.json())
            .then(data => {
                // Process and display the products
                console.log(data);
                // Example: redirect to products grid page with categoryId as a query parameter
                window.location.href = `/Product/Products_Grid?categoryId=${categoryId}`;
            })
            .catch(error => console.error('Error:', error));
    }








    document.addEventListener('DOMContentLoaded', function () {
        // Eğer URL'de success query parametresi varsa SweetAlert'i göster
        const urlParams = new URLSearchParams(window.location.search);
        const success = urlParams.get('success');

        if (success === 'true') {
            Swal.fire({
                title: 'Registration Successful',
                text: 'You have been registered successfully.',
                icon: 'success',
                timer: 2000, // 2 saniye
                showConfirmButton: false
            }).then(() => {
                // Yönlendirme yapılacak URL'yi belirleyin
                window.location.href = '/Home/Index'; // Burada yönlendirme URL'nizi belirtin
            });
        }
    });



    /* kullanıcı local hosta kaydetme */

    // document.addEventListener("DOMContentLoaded", function () {
    //     // Check if the username exists on the page
    //     const usernameElement = document.querySelector(".user-name");
    //     const emailElement = document.querySelector(".user-email");

    //     if (usernameElement && !usernameElement.textContent.includes("Giriş Yapınız")) {
    //         // Save the username and email to local storage
    //         const username = usernameElement.textContent.trim();
    //         const email = emailElement ? emailElement.textContent.trim() : "";

    //         localStorage.setItem("Kullanici_adi", username);
    //         localStorage.setItem("Email", email);
    //     } else {
    //         // If "Giriş Yapınız" is found, retrieve from local storage and update the elements
    //         const storedUsername = localStorage.getItem("Kullanici_adi");
    //         const storedEmail = localStorage.getItem("Email");

    //         if (storedUsername) {
    //             usernameElement.innerHTML = storedUsername;
    //         }

    //         if (storedEmail && emailElement) {
    //             emailElement.innerHTML = storedEmail;
    //         }
    //     }
    // });


    // bu alan siparişlerim ve sepetim alanına gidiyor

    document.addEventListener("DOMContentLoaded", function () {
        const profileSection = document.querySelector('.profile-section');
        const hiddenContent = document.querySelector('.hidden-content');

        let isVisible = false;

        profileSection.addEventListener('mouseenter', function () {
            isVisible = !isVisible;
            if (isVisible) {
                hiddenContent.style.display = 'block';
            } else {
                hiddenContent.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault(); // Varsayılan davranışı engeller.

            var productId = this.getAttribute('data-id'); // Butondan ürün ID'sini alır.

            // Ajax POST isteği
            fetch('/SellersUrun/Index', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': document.querySelector('input[name="__RequestVerificationToken"]').value
                },
                body: JSON.stringify({ id: productId })
            })
                .then(response => response.json())
                .then(data => {
                    // İsteğe bağlı olarak, işlemin başarılı olduğunu göstermek için bir mesaj gösterebilirsiniz.
                    console.log('Ürün sepete eklendi', data);
                })
                .catch((error) => {
                    console.error('Hata:', error);
                });
        });
    });






     



    // Örnek olarak `btn-add` sınıfına tıklamayı engelleyip sadece cart işlemini yapalım
    document.querySelectorAll('.btn-add').forEach(button => {
        button.addEventListener('click', function (event) {
            event.stopPropagation(); // Olayın diğer elementlere yayılmasını durdurur.
            event.preventDefault(); // Varsayılan davranışı engeller.

            // Burada istediğiniz işlemleri gerçekleştirin, örneğin sepete ürün ekleme.
            console.log("Ürün sepete eklendi");
            // İstemediğiniz alert ve modal açılmalarını da bu şekilde engellemiş olursunuz.
        });
    });




</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>
<script type="text/javascript">
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/refreshHub")
        .build();

    connection.on("refreshPage", function () {
        location.reload();  // Sayfayı yeniler
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>

